.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

.toggle-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.toggle-button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #f4f4f4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button.active {
    background-color: #c2ae65;
    color: white;
}

.toggle-button:hover {
    background-color: #888;
    color: white;
}